$body-background: #000000;
$font-color: #ffffff;
$font-family: -apple-system, system-ui, 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Segoe UI Variable', 'Roboto', 'Tahoma', 'Ubuntu', sans-serif;
$themecolor: #ffff00;

@import "mode-edit.scss";

html {
    font-size: 24px;
    body {
        background: $body-background;
        color: $font-color;
        font-family: $font-family;
        font-size: 3rem;
        .block {
            position: absolute;
            display: inline-block;
        }

        #mode-overlay {
            position: absolute;
            top: 0;
            right: 0;
        }

        button {

        }

        template {
            display: none;
        }
    }
}


#debug {
    font-size: 1rem;
    position: absolute;
}