@import "vars.scss";

html {
    font-size: var(--one_rem);
    body {
        background: $body-background;
        color: $font-color;
        font-family: $font-family;
        height: 100vh;
        width: 100vw;
        margin: 0;
        box-sizing: border-box;
        .block {
            position: absolute;
            display: inline-block;
            render:not([type="js"]) {
                font-size: 0;
            }
            * {
                font-size: 2rem;
            }
            div {
                font-size: 0;
                line-height: 0;
            }
            error { // Hide blocks with error
                display: none;
            }

            button {
                min-height: 1rem;
                min-width: 1rem;
                background-color: var(--themecolor);
                border-radius: 0;
                box-sizing: border-box;
                padding: .1rem .2rem;
                font-size: 1rem;
                display: inline-block;
                position: relative;
            }
        }

        .hide {
            display: none;
        }

        render {
            font-size: 0;
        }

        select, option, optgroup {
            font-size: .6rem !important;
            background: #000;
            color: #fff;
        }

        iframe {
            height: 1rem;
            width: 1rem;
            display: inline;
        }

        #one_rem {
            height: 1rem;
            padding: 0;
            margin: 0;
            border: 0;
            position: absolute;
            box-sizing: border-box;
            line-height: 0;
            font-size: 0;
        }

        template, tickregister {
            display: none;
        }
    }
}
