$body-background: #000000;
$font-color: #ffffff;
$font-family: -apple-system, system-ui, 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Segoe UI Variable', 'Roboto', 'Tahoma', 'Ubuntu', sans-serif;

:root {
    --themecolor: #ffff00;
    --border-radius: 4px;
}