Allow From All
Satisfy Any
Options All -Indexes

AddDefaultCharset utf-8

<FilesMatch "(.scss|prepros.config|.htaccess|.htpasswd|.gitignore|.pdn|.docx|.md)$">
    Deny From All
</FilesMatch>

# Deny Access to directories
RedirectMatch 403 /\.git
RedirectMatch 403 /\.vscode

<IfModule mod_expires.c>
    ExpiresActive On

    # Images
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"

    # CSS, JavaScript
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/javascript "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
</IfModule>
