.block[type="core-settings/settings"] {
    overflow: hidden;
    outline: 1px solid var(--themecolor);
    background: var(--background-semi-transparent-black);
    z-index: 1100;

    content {
        width: 100%;
        display: inline;
        &>div {
            padding: .5em !important;
            box-sizing: border-box;
        }
    }

    #setting-fieldset_modules {
        select, option, input {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    }

    fieldset {
        background: var(--background-semi-transparent);
        border: var(--input-border);
        border-radius: var(--input-border-radius);
        margin-top: .2em;
        legend {
            padding: .2em;
            background: var(--background-semi-transparent);
            border: var(--input-border);
            border-radius: var(--input-border-radius);
            font-size: .6em;
            border-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    input[type="file"] {
        border: var(--input-border);
        border-radius: var(--input-border-radius);
        padding: .1rem;
    }

    #setting-configExport {
        border: var(--input-border);
        border-radius: var(--input-border-radius);
        background: var(--background-semi-transparent-white);
    }

    #settings-fs-storage-management {
        transition: .2s;
        &:hover {
            background: rgba(255,55,55,.5);
        }
    }

    &:not(.hide)+.block[type="core-settings/settings-out"],
    &+.block[type="core-settings/settings-out"]:not(.hide) {
        div {
            position: fixed;
            top: 0;
            left: 0;
            background-color: transparent;
            height: 100%;
            width: 100%;
            z-index: 1090;
            backdrop-filter: var(--background-semi-transparent-backdrop-filter);
        }
    }
}