@import "../vars.scss";
html {
    body.edit_mode {
        &.mousedown {
            #moveoverlay {
                display: inline-block !important
            }
        }
        #moveoverlay {
            height: 100%;
            width: 100%;
            z-index: 999;
            position: absolute;
            display: none;
        }

        .block {
            outline: 2px solid var(--themecolor);
            padding: 0;
            margin: 0;
            &.selected {
                outline: 2px solid red;
                .headbar {
                    .move {
                        z-index: 1050;
                    }
                }
            }
            error {
                display: inline-block;
                font-size: .8em;
                max-width: 12rem;
                &::before {
                    background:red;
                    content: "Error:";
                    margin-right: .4ch;
                }
            }
            .headbar {
                display: inline;
                position: absolute;
                width: 100%;
                top: -1rem;
                height: 1rem;
                outline: 2px solid var(--themecolor);
                background-color: var(--themecolor);
                .move {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: calc(100% - 2rem - 2px);
                    height: 100%;
                    background: var(--themecolor);
                    cursor: move;
                    float: left;
                    box-sizing: border-box;
                }
                button {
                    position: relative;
                    height: 1rem;
                    width: 1rem;
                    border: 0;
                    border-radius: 0;
                    display: inline-block;
                    float: right;
                    z-index: 100;

                    &.delete {
                        background: red;
                    }

                    &.edit {
                        background: lime;
                    }
                }
            }
        }
    }
}