@import "../../css/vars.scss"; // Import from core

html {
    body.edit_mode {
        &.mousedown {
            #moveoverlay {
                display: inline-block !important
            }
        }
        #moveoverlay {
            height: 100%;
            width: 100%;
            z-index: 999;
            position: absolute;
            display: none;
        }

        .display-edit {
            display: initial;
        }

        .block {
            // outline: 2px solid var(--themecolor);
            padding: 0;
            margin: 0;
            &.selected {
                // outline: 2px solid red;
                .headbar {
                    .move {
                        z-index: 1050;
                    }
                }
            }
            error {
                display: inline-block;
                font-size: .8em;
                max-width: 12rem;
                &::before {
                    background:red;
                    content: "Error:";
                    margin-right: .4ch;
                }
            }
            .headbar {
                display: inline;
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                border-bottom: 0;
                background-color: rgba(122,122,122,.2);
                box-sizing: border-box;
                user-select: none;
                pointer-events: none;
                &.min-headbar {
                    background-color: transparent !important;
                    button {
                        display: none;
                        &.min-headbar {
                            display: inline-block;
                        }
                    }
                }

                button {
                    position: absolute;
                    display: inline-block;
                    pointer-events: all;
                    line-height: 1;
                    z-index: 100;
                    border-radius: revert;
                    overflow: hidden;
                    border: revert;
                    background: revert;
                    border-style: solid;
                    border-width: 1px;
                    height: 1rem;
                    width: 1rem;
                    padding: 0;
                    font-size: .625rem;
                    background: rgba(122,122,122,.3);
                    backdrop-filter: blur(2px);

                    &.delete {
                        top: calc(50% - 1.5rem);
                        right: calc(50% - 1.5rem);
                        border-color: red;
                        &:hover {
                            background-color: red;
                        }
                    }

                    &.edit {
                        top: calc(50% - 1.5rem);
                        left: calc(50% - 1.5rem);
                        border-color: orange;
                        &:hover {
                            background-color: orange;
                        }
                    }

                    &.details-expand {
                        top: calc(50% + .5rem);
                        left: calc(50% - 1.5rem);
                        border-color: white;
                        &:hover {
                            background-color: white;
                        }
                        right: 100% !important;
                    }

                    &.min-headbar {
                        min-height: 0;
                        top: calc(50% - 1.35rem);
                        left: calc(50% - .5rem);
                        height: .6rem !important;
                        border-color: revert;
                        border-bottom: 0;
                        opacity:.7;
                        &:hover {
                            background-color: white;
                            opacity: 1;
                        }
                    }
                }

                .move {
                    width: 1.5rem;
                    height: 1.5rem;
                    cursor: move;
                    top: calc(50% - .75rem);
                    left: calc(50% - .75rem);
                }


                .headbar-edit-expand-container {
                    height: auto;
                    width: 300px;
                    right: 100%;
                    max-width: 30vw;
                    background: rgba(122,122,122,.3);
                    position: absolute;
                    display: inline-block;
                    pointer-events: all;
                    padding: .2rem;
                    z-index: 10000;
                    color: #fff;
                    font-size: 1rem;
                    &,* {
                        box-sizing: border-box;
                    }
                    input {
                        width: 30%;
                    }
                    input[type=range] {
                        width: 100%;
                        margin: 0;
                    }
                    hr {
                        margin: .2rem;
                    }
                    h1,h2,h3,h4,h5,h6 {
                        margin-bottom: .2rem;
                    }
                }
            }
        }
    }
}
